body {
	background-image: url(background.jpg);
}

.column {
	display: inline-block;
	padding: 10px;
}

#main:after {

	content: " ";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}
#img1:hover {
	opacity: 0.1;
	
}